:root {
    --primary-color: hsl(214, 84%, 56%);
    --text-color: hsl(0, 0%, 31%);
    --bg-color: hsl(0, 0%, 90%);
    --bg-card-color: hsl(0, 0%, 98%);
    --border-radius: .4em;
    --transition: color 0.1s. background-color 0.2s ease-in-out;
    --skills-bar-length: 0%;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition);
    font-family: sans-serif;
}

body.dark {
    --text-color: hsl(0, 0%, 83%);
    --bg-color: hsl(0, 0%, 15%);
    --bg-card-color: hsl(0, 0%, 20%);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    padding: 0 1.5em;
    background-color: var(--bg-card-color);
    transition: var(--transition);
}

.switches {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle-theme_icon {
    margin-right: 0.5en;
    width: 20px;
}

.toggle-theme_text {
    font-size: 0.8rem;
}

.colors {
    display: flex;
    margin-left: 1000px;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100px;
}

.colors_item {
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.colors_item--blue {
    --primary-color: hsl(214, 84%, 56%);
}

.colors_item--green {
    --primary-color: hsl(150, 84%, 56%);
}

.colors_item--purple {
    --primary-color: hsl(276, 84%, 56%);
}

.colors_item--orange {
    --primary-color: hsl(46, 84%, 56%);
}

.title {
    text-align: center;
    color: var(--primary-color);
    transition: var(--transition);
}

.main {
    display: grid;
    padding: 2em;
    gap: .5em;
}

@media screen and (min-width:720px) {
    .main {
        grid-template-columns: min-content 1fr;
    }
}

.column {
    display: grid;
    gap: 0.5em;
}

@media screen and (min-width:720px) {
    .column--right {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, min-content);
        align-items: start;
    }
}

.card {
    padding: 1em;
    background-color: var(--bg-card-color);
    border-radius: var(--border-radius);
}

.card_image-container {
    min-width: 320px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.card_header {
    padding: 1em 0;
}

.card_title {
    margin: 0;
    font-size: 1.2rem;
}

.card_subtitle {
    font-size: 0.9rem;
    opacity: 0.8;
}

.card_link {
    margin-bottom: 1em;
}

.card_text {
    font-size: 0.9rem;
    line-height: 1.6;
}

.skills {
    padding: 1em 0;
}

.skills_header{
    display: flex;
    justify-content: space-between;
    width: 175px;
    margin-left: auto;
}

.skills_tech {
    margin: 0;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}


.skills_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills_bar,
.skills_bar::after {
    margin-left: 20px;
    position: relative;
    width: 175px;
    height: 8px;
    background-color: #888;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.skills_bar::after {
    content: '';
    position: absolute;
    left: -175px;
    background-color: var(--primary-color);
    transition: var(--transition);
    animation: skills-bar-fill 5s ease-in-out forwards;
}

.skills_bar--10::after {
    --skills-bar-length: 10%;
}


.skills_bar--20::after {
    --skills-bar-length: 20%;
}

.skills_bar--30::after {
    --skills-bar-length: 30%;
}

.skills_bar--40::after {
    --skills-bar-length: 40%;
}

.skills_bar--50::after {
    --skills-bar-length: 50%;
}

.skills_bar--60::after {
    --skills-bar-length: 60%;
}

.skills_bar--70::after {
    --skills-bar-length: 70%;
}

.skills_bar--80::after {
    --skills-bar-length: 80%;
}

.skills_bar--90::after {
    --skills-bar-length: 90%;
}

.icon {
    margin-right: 1em;
}

@keyframes skills-bar-fill {
    to {
        transform: translateX(var(--skills-bar-length));
    }
}